* {
  border-radius: 10px;
}

p {
  color: lightcoral;
  margin-left: 50%;
  margin-top: unset;
  background-color: skyblue;
  text-indent: 10px;
  font-style: bold;
  padding:unset;
}

b {
  text-align: left;
  text-indent: 10px;
  color: lightpink;
  background-color: crimson;
  margin:unset;
  padding-right: 10%;
  padding-left: 10px;
}
#me div {
  font-style: bold;
  margin-left: 85%;
  text-align: center;
  text-indent: unset;
}

h3{
  margin:unset;
}
#me {
  background-color: lightgray;
  padding-top: 173.4%;
  border-radius: unset;
  text-indent: 10px;
}
#input_zone {
  text-align: center;
  background-color: lightblue;
  border-radius: unset;
  padding-top: 10px;
  padding-bottom: 10px;
}
#in {
  outline: unset;
  border: unset;
}
#in:hover {
  background-color: lightcyan;
  outline: solid;
  outline-color: lightpink;
  text-indent: 10px;
}
#out {
  border: unset;
  outline: solid;
  outline-color: purple;
  background-color: lightsteelblue;
}
body {
  margin: unset;
}
div {
  margin: unset;
}
